<!DOCTYPE html>
<html lang="en">
  <head>
  	 
  		<title>Add New Event</title>
  </head>
   
   <body>

		<div class="container">

			
			<ol>
				<% for(var i=0; i<events.length; i++) {%>
				   <li><%= events[i].username %>, <%= events[i].content %>, <%= events[i].time %> </li> 
				<% } %>
			</ol>
	

	    </div>

   		<% include ../layout/footer %>
   </body>
</html>