<!DOCTYPE html>
<html lang="en">
  
  		<% include ../layout/head %>
 <style>
 #footer{
position: fixed;
bottom:0;
width: 1450px;
text-align:center;
padding: 3px;
color: white;
background-color: black;
}
 </style>
<body>
<center>
<h1 style="font color:rgb(255, 255, 255); font size:100%;">2017 CALENDAR</h1>
</center>
<center>
<div id = "time"></div>
</center>
<table id="t01">
<table align="right">
<tr>
<td colspan="7" bgcolor="#EEEEEE" style="font-size:30px; text-align: center" background="/img/brown-paper.jpg"><bl>January.</bl>
</td>
</tr>
<tr>
<td bgcolor="#FF0000">SUNDAY.</td>
<td bgcolor="#FFFF00">MONDAY.</td>
<td bgcolor="#00FF00">TUESDAY.</td>
<td bgcolor="#00FFFF">WEDNESDAY.</td>
<td bgcolor="#0000FF">THURSDAY.</td>
<td bgcolor="#808080">FRIDAY.</td>
<td bgcolor="#FF00FF">SATURDAY.</td>
</tr>
<tr>
<td bgcolor="#EEEEEE"> </td>
<td bgcolor="#EEEEEE"> </td>
<td bgcolor="#EEEEEE"> </td>
<td bgcolor="#EEEEEE">


<!-- Trigger the modal with a button -->
<button id="1st" class="month-day" type="button" data-id="1st" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">1st.</button>
<ur></ur>
</td>
<td bgcolor="#EEEEEE">
<button id="2ed" class="month-day" type="button" data-id="2ed" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">2ed.</button>
<ur></ur>
</td>
<td bgcolor="#EEEEEE">
<button id="3rd" class="month-day" type="button" data-id="3rd" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">3rd.</button>
<ur></ur>
</td>
<td bgcolor="#EEEEEE">
<button id="4th" class="month-day" type="button" data-id="4th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">4th.</button>
<ur></ur>
</td>
</tr>

<tr>
<td bgcolor="#FFFFFF">
<button id="5th" class="month-day" type="button" data-id="5th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">5th.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF">
<button id="6th" class="month-day" type="button" data-id="6th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">6th.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF">
<button id="7th" class="month-day" type="button" data-id="7th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">7th.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF">
<button id="8th" class="month-day" type="button" data-id="8th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">8th.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF">
<button id="9th" class="month-day" type="button" data-id="9th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">9th.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF"><button id="10th" class="month-day" type="button" data-id="10th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">10th.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF"><button id="11st" class="month-day" type="button" data-id="11st" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">11st.
</button>
<ur></ur>
</td>
</tr>

<tr>
<td bgcolor="#EEEEEE">
<button id="12ed" class="month-day" type="button" data-id="12ed" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">12ed.
</button>
<ur></ur>
</td>
<td bgcolor="#EEEEEE">
<button id="13rd" class="month-day" type="button" data-id="13rd" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">13rd.
</button>
<ur></ur>
</td>
<td bgcolor="#EEEEEE">
<button id="14th" class="month-day" type="button" data-id="14th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">14th.
</button>
<ur></ur>
</td>
<td bgcolor="#EEEEEE">
<button id="15th" class="month-day" type="button" data-id="15th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">15th.
</button>
<ur></ur>
</td>
<td bgcolor="#EEEEEE">
<button id="16th" class="month-day" type="button" data-id="16th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">16th.
</button>
<ur></ur>
</td>
<td bgcolor="#EEEEEE">
<button id="17th" class="month-day" type="button" data-id="17th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">17th.
</button>
<ur></ur>
</td>
<td bgcolor="#EEEEEE">
<button id="18th" class="month-day" type="button" data-id="18th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">18th.
</button>
<ur></ur>
</td>
</tr>
<tr>
<td bgcolor="#FFFFFF">
<button id="19th" class="month-day" type="button" data-id="19th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">19th.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF">
<button id="20th" class="month-day" type="button" data-id="20th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">20th.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF">
<button id="21st" class="month-day" type="button" data-id="21st" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">21st.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF">
<button id="22ed" class="month-day" type="button" data-id="22ed" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">22ed.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF">
<button id="23th" class="month-day" type="button" data-id="23th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">23th.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF">
<button id="24th" class="month-day" type="button" data-id="24th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">24th.
</button>
<ur></ur>
</td>
<td bgcolor="#FFFFFF">
<button id="25th" class="month-day" type="button" data-id="25th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">25th.
</button>
<ur></ur>
</td>
</tr>
<tr>
<td bgcolor="#EEEEEE">
<button id="26th" class="month-day" type="button" data-id="26th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">26th.
</button>
<ur></ur>
</td>
<td bgcolor="#EEEEEE">
<button id="27th" class="month-day" type="button" data-id="27th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">27th.
</button>
<ur></ur>
</td>
<td bgcolor="#EEEEEE">
<button id="28th" class="month-day" type="button" data-id="28th" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">28th.
</button>
<ur></ur>
</td>
<th bgcolor="#EEEEEE" colspan="4">
<button id="Notes" class="month-day" type="button" data-id="Notes" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Notes.
</button>
<ur></ur>
</th>
</tr>
<tr>
<td colspan="7" text-align: right bgcolor="#FFFFFF">
Design@Cal.Project Group
</td>
</tr>
</table>

<br><img src="../img/season.gif" alt="Calendar" style="width:225px; height:200px" usemap="#Calendarmap"></br>
<map name="Calendarmap">
<area shape="rect" coords="0,0,56,126" alt="Spring" href="/spring">
<area shape="rect" coords="0,0,112,126" alt="Summer" href="">
<area shape="rect" coords="0,0,168,126" alt="Fall" href="">
<area shape="rect" coords="0,0,224,126" alt="Winter" href="/winter">
</map>

<div id="months"></div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
        	Add Content
        </h4>
      </div>

      <div class="modal-body">
      	<div class="input-group">
	      <input type="text" class="form-control" placeholder="Add Cotent...">
	      <span class="input-group-btn">
	         <button type="button" class="btn btn-default" onclick="addMonthContent(this)" data-dismiss="modal">Confirm</button>
	      </span>
	    </div>
      </div>

    </div>
  </div>
</div><!-- Modal -->

   	<% include ../layout/footer %>
	
   	<script>
		function checkTime(i){
			if(i < 10){
				i = "0" + i;
			}
			return i;
		}
		function startTime(){
			var today = new Date();
			var h = today.getHours();
			var m = today.getMinutes();
			var s = today.getSeconds();
			
			m=checkTime(m);
			s=checkTime(s);
			document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
		  	t = setTimeout(function() {startTime()}, 500);
		}
		startTime();
	</script>


	<script>
		$(document).ready(function(){
		    $('[data-toggle="popover"]').popover();   
		});


		$('.month-day').on('click', function(){
			var id = $(this).data('id');
			$('#myModal').find('.modal-title').text(id) ;
		})

		$('#myModal').on('show.bs.modal', function(event){
			var modal = $(this);
			var id = $('#myModal').find('.modal-title').text();
			//modal.find('.modal-title').text('New message to xxxxxx')
			modal.find('.modal-body button').data('button-id', id) ;
		})

		var addMonthContent = function(obj){
			var buttonId = $(obj).data('button-id') ;
			var content = $(obj).parent().prev().val();
			$('#' + buttonId).next().append("<li>" + content + "</li>") ;
		}
	</script>

	<script type="text/javascript">
		var months = 
		[ 
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;January", 
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;February",
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;March",
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;April",
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May",
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;June", 
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;July",
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;August",
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;September",
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;October",
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;November",
		"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;December"
		]

		for(var i=0; i< months.length; i++){
			var url = "/month?m=" + months[i]; 
			var content = '<p><a href="'  + url +'">' + months[i]+'</a></p>' ;
			$("#months").append(content);
		}

	</script>

   </body>
</html>