<!DOCTYPE html>
<html lang="en">
  <head>
  		<% include ../layout/head %>
  		 <style>
      #footer{
      position: fixed;
      bottom:0;
      width: 1450px;
      text-align:center;
      padding: 3px;
      color: white;
      background-color: black;
      }

      h3{
         position: absolute;
         font-color: white;
         top: 170px;
         right: 400px;
         width: 600px;
         height: 500px;
         font-size: 170%;
      }
      
      h4{
         position: absolute;
         font-color: white;
         top: 850px;
         right: 400px;
         width: 600px;
         height: 500px;
         font-size: 170%;
      }
      
      </style>
   </head>
  
   <body>
   <center>
   <h1>Spring.</h1>
   </center>
   <center>
   <p1>-Spring is nature's way of saying,'Let's party!</p1>
   </center>
   <h2>Festival.</h2>
   
   <br><img src="../img/superbowl.jpg" alt="Calendar" style="width:400px; height:300px"></br>

   <h3>
   <br>February 7, Super Bowl Sunday</br>
       The grand championship playoff match of the National Football League, is always held in one of the southern USA sun-belt cities or in a large indoor football arena. This year it is in Indianapolis, Indiana and will feature a playoff match between the two top football teams plus spectacular entertainment including a performance by Madonna. Tickets are extremely hard to get and usually cost over $1000 per seat. Most people across the USA are satisfied to attend a local Super Bowl Party where they can eat and drink with their friends while cheering for their favorite team. 
       <br><a href="https://www.nfl.com/super-bowl" target="_blank">More detail.</a></br>
   </h3>
   
   <center>
   <br><img src="../img/tulip-festival.jpg" alt="Calendar" style="width:300px; height:300px"></br>
   </center>
   <h4>
   <br>April 1 - April 30, Skagit Valley Tulip Festival<br>
       Every year in April the Skagit Valley in Washington state blooms with fields of Tulips. Flower lovers gather to walk through the fields, buy bulbs and welcome the spring weather. The vivid rows of flowers can span as far as the eye can see. At the nurseries you can see some rare and unique breeds.        
       <br><a href="http://www.tulipfestival.org/" target="_blank">More detail.</a></br>
   </h4>
      </body>
     <footer id="footer">
          <p>&copy; 2017 Cal. All right reserved.</p>
     </footer>
</html>