<!DOCTYPE html>
<html>
<head>
  		<% include ../layout/head %>
<style>
h1{
font-size: 200%
}
h2{
font-size: 200%
}
h3{
font-size: 200%
}
h4{
font-size: 200%
}

body {
    background: url("/img/wood.jpg");
    background-attachment: fixed;
}

#footer{
position: fixed;
bottom:0;
width: 1450px;
text-align:center;
padding: 3px;
color: white;
background-color: black;
}
</style>
</head>

<body>
<h1>Video.</h1>
<center>
<a href="https://www.youtube.com/feed/trending">
<img border="0" src="/img/youtube.jpg" width="800" height="300">
</center>
<center>
<a href="https://www.hulu.com/start?utm_campaign=BM%2BSearch%2BBrandTerms&cmp=7957&mkwid=HYuWExU8&pcrid=186429682747&utm_source=google&utm_medium=cpc&utm_term=hulu&gclid=COmE1pn7vdMCFVNMDQodiPsCXA&dclid=CM6M2Zn7vdMCFZRBDAodzx8OZw">
<img border="0" src="/img/hulu2.jpg" width="800" height="300">
</center>

<h2>Music.</h2>
<center>
<a href="http://www.jango.com/">
<img border="0" src="/img/jango.jpg" width="800" height="300">
</center>
<center>
<a href="https://play.spotify.com/discover">
<img border="0" src="/img/spotify.jpg" width="800" height="300">
</center>

<h3>Shopping.</h3>
<center>
<a href="https://www.amazon.com/">
<img border="0" src="/img/amazon.jpg" width="800" height="300">
</center>
<center>
<a href="http://www.ebay.com/">
<img border="0" src="/img/ebay.jpg" width="800" height="300">
</center>
</body>

<h4>News.</h4>
<center>
<a href="http://www.cnn.com/">
<img border="0" src="/img/cnn.png" width="800" height="300">
</center>
<center>
<a href="https://www.yahoo.com/">
<img border="0" src="/img/yahoo.jpg" width="800" height="300">
</center>
<% include ../layout/footer %>
</html>