<ul>
<li><a href="/month">Personal</a></li>
<li><a href="/event">Public</a></li>
<li><a href="#Friend">Friends</a></li>
<li><a href="/Users/chenxiangzhao/Documents/Web design/Calendar/link.html" target="_blank">News</a></li>
<li><a href="/TwoButton">Tags</a></li>
<li><a href="/127.0.0.1:3000">Sign Out</a></li>
</ul>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/social.css" rel="stylesheet">