<ul>
<li><a href="#2017 Calendar">2017 Calendar</a></li>
<li><a href="#Friend">Friend</a></li>
<li><a href="#Message">Message</a></li>
<li><a href="/Users/chenxiangzhao/Documents/Web design/Calendar/link.html" target="_blank">News</a></li>
<li><a href="#Notes">Notes</a></li>
<li><a href="#Sign Out">Sign Out</a></li>
</ul>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/social.css" rel="stylesheet">